<!--------- Begin Page Content ------------->
<div class="container-fluid">
  <!-----Page Heading------->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Tableau de bord</h1>
    <a class="d-none d-sm-inline-block btn btn-primary shadow-sm" href="#">
      <i class="fas fa-download fa-sm text-white-50"></i>
      Generate Report
    </a>
  </div>
  <!------Row content -------->
  <div class="row">
    <!-------Earnings (Monthly) Card Example------->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase">
                Frais de mission (Mensuel)
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">FCFA 40,000</div>
            </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-------Earnings (Annual) Card Example------->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase">
                Frais de mission (Annuel)
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">FCFA 215,000</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-money-bill fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-------Tasks Card Example------->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase">
                Mission Réalisée
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">50</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-------Pending Request Card Example------->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase">
                Mission en attente
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------Content row---------->
  <div class="row">
    <!----------Area Chart ------->
    <div class="col-xl-8 col-lg-7">
      <!-----Card Header------>
      <div class="card shadow mb-4 ">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Aperçu des Frais de missions</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another Action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <!----Card Body---->
        <div class="card-body">
          <div class="chart-area">
            <canvas
              baseChart
              class="chart"
              [data]="lineChartData"
              [options]="lineChartOptions"
              [type]="'line'"
              style="width: 100%; height: 100%;">
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <!------Pie Chart------->
    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-item-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Aperçu des missions</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink2" data-bs-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink2">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another Action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <!----Card Body---->
        <div class="card-body">
          <div class=" chart-area pt-4 pb-2">
            <canvas id="myPieChart"
              baseChart
              class="chart"
              [data]="doughnutChartData"
              [type]="'doughnut'"
              [options]="doughnutChartOptions" style="width: 100%; height: 100%;">

            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
